<style>
    .note-sm-img {
        width: 60px;
        height: 60px;

    }

    .note-sm-img:hover {
        width: 62px;
        height: 62px;

    }
</style>

<section class="session1">
    <div class="container ">
        <div class="arrow-position">
            <a href="/tutor"><i class='fas fa-angle-double-left ' style='font-size:25px'></i></a>
        </div>
        <div style="row">
            <div class="upload-button-wrap input-group" id="not-uplode">
                <form class="upload-button-wrap" action="/tutor/announcement" method="POST"
                    enctype="multipart/form-data" style="padding-left: 30%; width:100%;">
                    <label for="">Topic</label>
                    <input required type="text" name="topic"
                        style="display: block; height: 2.5rem;border: 3px solid;border-color: #1a015129;"
                        placeholder="Topic">
                    <br>

                    <input required type="radio" id="upload" name="media" value="image"
                        style="display: block;float: left;">
                    <label for="other"> Image</label>
                    <input type="radio" id="upload" name="media" value="video" style="display: block;float: left;">
                    <label for="female"> Video</label>
                    <input type="radio" id="upload" name="media" value="doc" style="display: block;float: left;">
                    <label for="other"> Document</label>
                    <br>


                    <label class="upload-button" for="upload" onclick="imgInput()" >File</label><br>
                    <input required accept=".pdf, .png, .jpg, .jpeg, .mkv, .mp4, .avi, .mp3, .m4a, .wav" name="file" id="file-upload" type="file" >
                    <br>
                    <textarea required style="display: block; ;border: 3px solid;border-color: #1a015129;" name="about"
                        id="" cols="30" rows="10">About</textarea>
                    <br>
                    <input type="submit" class="save100-form-btn ml-5" value="save">
                </form>




            </div>
        </div>
        <hr>
        <br>
        <br>

        <div>
            <h2 class="h2-table">Announcement</h2>
        </div>
        <ul class="responsive-table table-num">
            <li class="table-header">
                <div class="col col-1" style="max-width: 10%;">No</div>
                <div class="col col-2" style="max-width: 35%;">Topic</div>
                <div class="col col-3" style="max-width: 35%;">Document</div>
                <div class="col col-4" style="max-width: 20%;">Delete</div>
            </li>
            {{#each data}}
            <li class="table-row" id="num">
                <div class="col col-2" data-label="Name" style="max-width: 35%;">
                    <a href="" class="sd-name">{{this.topic}}</a>
                </div>
                {{#iff this.media 'doc'}}

                <div class="col col-3" data-label="" style="max-width: 35%;">
                    <a href="/tutor/doc-note/{{../_id}}">
                        <i class="fa fa-file-pdf-o"></i>
                    </a>
                </div>
                {{/iff}}

                {{#iff this.media 'video'}}
                <div class="col col-3" data-label="" style="max-width: 35%;">
                    <a href="/tutor/video-note/{{../_id}}">
                        <i class="fa fa-file-video-o"></i>
                    </a>
                </div>
                {{/iff}}

                {{#iff this.media 'image'}}
                <div class="col col-3" data-label="" style="max-width: 35%;">
                    <a href="">
                        <img src="/images/announcement/{{../_id}}.jpg" alt="image" class="note-sm-img">
                    </a>
                </div>
                {{/iff}}

                <div class="col col-4" data-label="" style="max-width: 20%;">
                    <a id="note-add-btn" onclick="addClicked()" href="/tutor/set-task/{{this._id}}"
                        class="btn btn-primary">Add</a>
                    {{!-- <a id="note-cancel-btn" onclick="cancelClicked()" href="/tutor/remove-task/{{this._id}}"
                        class="btn btn-secondary" style="display: none;">Cancel</a> --}}
                    <a href="/tutor/delete-note/{{this._id}}"
                        onclick="return confirm('Do you want delete {{this.topic}}?')"><i class='fas fa-trash '></i>
                    </a>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
<script>
     const tutorImg = document.getElementById('file-upload');
    function imgInput() {
        tutorImg.click()
    } 
</script>