<section>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/images/bg-01.jpg');">
            <div class="arrow-position">
                <a href="/tutor"><i class='fas fa-angle-double-left ' style='font-size:25px'></i></a>
            </div>
            <div class="wrapper">
                <div class="profile-card js-profile-card">
                    <div class="profile-card__img">
                        <img src="/images/tutor-profile-img/{{tutorData.tutor._id}}.jpg" alt="profile card">
                    </div>

                    <div class="profile-card__cnt js-profile-cnt">
                        <div class="profile-card__name">{{tutorData.tutor.name}}</div>
                        <hr>
                        <div class="profile-card__txt"><strong>{{tutorData.tutor.subject}}</strong> Teacher</div>
                        <div class="profile-card__txt"><span style='font-size:14px'>Class : </span><strong>{{tutorData.tutor.class}}</strong>
                        </div>
                        <hr>
                        <div class="profile-card__txt"><strong>{{tutorData.tutor.house}}</strong> House</div>
                        <div class="profile-card-loc">
                            <span class="profile-card-loc__icon">
                                <svg class="icon">
                                    <i style='font-size:24px' class='fas'>&#xf3c5;</i>
                                </svg>
                            </span>

                            <span class="profile-card-loc__txt" data-placeholder="&#xf191;">
                                {{tutorData.tutor.place}}
                            </span>
                        </div>
                        <div class="profile-card__txt"><span style='font-size:14px'>Pin: </span>{{tutorData.tutor.pin}}</div>

                            <br>
                            <div class="profile-card__txt"><span style='font-size:14px'>Mob :
                                </span><strong>{{tutorData.tutor.number}}</strong></div>
                            <div class="profile-card__txt"><span style='font-size:14px'>Email :
                                </span><strong>{{tutorData.tutor.email}}</strong></div>
                            <br>
                            <div class="container-login100-form-btn">
                                <a href="/tutor/edit-profile" class="edit100-form-btn">Edit</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dropDownSelect1"></div>
</section>